/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 18px;
    /*
    font-size: 18px;
    1rem = 18px
    khong khai bao: 
    1rem=16px; */
    scroll-behavior: smooth;
}
.clear{
    clear: both;
}
body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    background-color: #fff;
    letter-spacing: 1px;
}
button{
    background-color:#ff0e83;
    color: white;
    border: 1px solid #ff0e83;
    padding: 13px 32px;
    font-size: 0.875rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .5s;
}
button:hover{
    background-color: white;
    color: #ff0e83;
    border: 1px solid white;
}
h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
}
/* HEADER */
header{
    background-color: #4e2a84;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
  }
.header__content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
.header__content p{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.3rem ;
}
nav ul{
    list-style: none;
         }
nav ul li{
    display: inline;
    padding: 0 1rem ;
    }
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
    color: white; 
    letter-spacing: 2px;
    transition: all 0.5s;
}
nav ul li a:hover{
    color: rgb(218, 51, 168);
}
nav ul li .active{
    color: rgb(218, 51, 168);
}
.carousel{
    background-image: url(../img/b3.jpg);
    height: 44.4rem;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
   }
.carousel__content h1{
    font-size: 3.5rem;
    text-transform: uppercase ;
}
.carousel__content p{
    font-size: 1.1rem;
    font-weight: bold;
    padding: 23px 0;
}
/* INTRO */
.intro{
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    /* grid-template-columns: repeat(4, 25%); */
    grid-template-columns: repeat(4 , 1fr);
    padding-bottom: 50px;
}
.intro__ab1{
    grid-column: 2 / 4;
    /* grid-row: ; */
    /* grid-column: 2 / 4;
    so line bat dau cua mot item
    so line ket thuc cua mot item
    so cot ma item chiem
    grid-column: 2 / span 2; */
}
.intro__bake{
grid-column: 1 / 3;
/* grid-column: 1 / span 2; */
}
.intro__ab4{
    grid-column: 3 / 5;
    /* grid-column: 3 / span 2; */
}
.intro__item img{
    width: 100%;
    display: block;
}
.intro__item{
    display: flex;
    text-align: center;
    align-items: center;
    
}
.intro__text{
    padding: 0 32px;
}
.intro__item h3{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.intro__item p{
    font-size: 0.875rem;
    color: #c1c1c1;
    line-height: 29px;
}
.intro .intro__item:first-child{
    background-color:#4e2a84 ;
}
.intro .intro__item:nth-child(3){
    background-color:#ff0e83 ;
}
.intro .intro__item:nth-child(4){
    background-color:rgb(209, 66, 137) ;
}
.intro .intro__item:nth-child(6){
    background-color:rgb(110, 62, 199) ;
}
.intro .intro__item:nth-child(8){
    background-color:rgb(127, 182, 40) ;
}
/* NUMBER */
.number__content{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.number__item p:first-of-type{
    font-size: 2rem;
    color: #4e2a84;
    font-weight: 600;
  }
.number__item p:last-of-type{
    font-size: 1.4rem;
    color: black;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 24px 0;
}
/* SERVICES */
.services{
    background-image: url(../img/s1.jpg);
    background-size: cover;
    text-align: center;
    padding: 70px 0;
    margin: 30px 0;
}
.services h2{
    color: white;
}
.services__content{
    display: flex;
    /* justify-content: space-between ;ko the su dung justify-content vi phair dam bao flex van con cho trong(space) */
    
    width: 80%;
    margin: 0 auto;
 
}
.services__item{
    padding: 0 20px;
}
.services__item i{
    border: 1px solid #4e2a84;
    border-radius: 50%;
    width: 105px;
    height: 105px;
    line-height: 105px;
    /* can chu theo chieu doc */
    background-color: white;
    color: #4e2a84;
    font-size: 3.75rem;
    transition: all .5s;
    /* thoi gian doi mau dung transition, dung o tag doi mau */
}
/* can giua theo chieu doc cua chu( chi 1 hang chu duy nhat, su dung line-height = height) */
.services__item h3{
    font-size: 1.5rem;
    margin: 17px 0;
    font-weight: 500;
}
.services__item p{
    font-size: 0.875rem;
    line-height: 25px;
    margin-bottom: 12px;
}
.services__item button{
    border: 2px solid white;
    /* border-width: 2px; */
}
.services__item:hover i {
    /* note: the nao nhan re chuot, the nao thay doi mau trong viec re chuot do */
    color: #ff0e83;
}
/* GALLERY */
.gallery h2{
    padding-top: 50px;
    padding-bottom: 30px;
}
.gallery__content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 0 15px;
    /* gap gan giong nhu margin, gap chi ap dung cho GRID.
    gap cung co cach viet tuong tu nhu margin.
    
    + giua grid va the cha ben ngoai ko co khoang cach, chi co khoang cach giua cac thanh phan con grid voi nhau, k/c noi bo cua sgrid
    
    + padding: day the vao ben trong so voi border, margin: khoang cach giua cac the tag voi nhau, tinh tu border tro di */
    /* grid-gap: ; */
    /* grid-gap giong nhu gap, tuy nhien Visual studio khuyen nen dung gap vi grid-gap la thuoc tinh cu, chi dung duoc trong mot so trinh duyet 
    Property is obsolete. Avoid using it.
Shorthand that specifies the gutters between grid columns and grid rows in one declaration. Replaced by 'gap' property.
(Firefox 52, Chrome 57, Safari 10, Opera 44)*/
}
.gallery__g1{
grid-column: 1/3;
/* grid-column: 1 / span 2; */
}
.gallery__g6{
grid-column: 3 / 5;
/* grid-column: 3 / span 2; */
}
.gallery__item img{
    display: block;
    width: 100%;
    height: 100%;
    }
/* FIGCAPTION */
.gallery__item{
    position: relative;
    /* gallery__item: daddy tag --> relative
    gallery__overlay: child tag --> absolute */
    overflow: hidden;
    /* overflow:hidden co tac dung hide/ an het tat ca cac the con bi vuot ra ngoai pham vi cua the cha (dad tag) */
}
.gallery__overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    /* do the con nay (child tag) phu hoan toan 100% len the cha (dad tag) */
    background-color: rgba(44, 161, 197, 0.2);
    color: white;
    padding: 38px 28px;
    text-align: right;
    /* padding: khoang cach giua noi dung so voi cai vien cua the do */
}
.gallery__overlay p{
    position: absolute;
    bottom: 38px;
    right: 28px;
    font-size: 0.75rem;
    /* the p (p tag) di chuyen xuong ben duoi, su dung position absolute, the cha la gallery__item (position: relative) */
    transform: translateY(50px);
    opacity: 0;
    transition: all .5s;

}
.gallery__item:hover .gallery__overlay p{
    transform: translateY(0);
    opacity: 1;
}
.gallery__overlay h3{
    font-size: 1.875rem;
    transform: translateY(20px);
    /* hieu ung transform: translate dung de di chuyen the; */
    transition: all .5s;
    /* transition: hieu ung lam cham lai, ko gan o the hover, ma phai gan o the truc tiep; */
}
.gallery__item:hover .gallery__overlay h3{
    transform: translateY(0);
}
.gallery__overlay h3 span{
    font-weight: 300;
}

/* .gallery__overlay h3::before{
    content: "The ";
}
.gallery__overlay h3::after{
    content: " !";
} */
/* the after, before la the inline (inline tag) */
.gallery__overlay h3::after{
    content: " ";
    width: 100%;
    height: 5px;
    background-color: white;
    display: block;
    margin-top: 10px;
    transform: translateY(20px);
    transition: all .5s;
    opacity: 0;
    /* khong su dung display: none va display: block thay cho opacity trong truong hop nay vi no ko hoat dong voi transition */
  /* click vao the cha (dad tag), the con (child tag) thay doi 
  cha nhan chuot, con thay doi*/
}
.gallery__item:hover .gallery__overlay h3::after{
    transform: translateY(0);
    opacity: 1;
}

/* HIEU UNG POP-UP: su dung animation de hien ra hinh anh va chuyen doi hinh anh ke tiep
thu vien animation: lightbox js
website: https://lokeshdhakar.com/projects/lightbox2/ */

/* TEAM */
.team{
    background-color: #4e2a84;
    padding: 70px 0;
    margin-top: 50px ;
}
.team h2{
    color: #fff;
}
.team__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px 30px;
    width: 75%;
    margin: 0 auto;
        }
.team__item img{
width: 100%;
display: block;
}
.team__item{
    position: relative;
}
.team__title{
    position: absolute;
    background-color: #ff0e83;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    opacity: 1;
    transition: all .5s;
}
.team__details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.521);
    color: white;
    padding: 100px 50px;
    opacity: 0;
        }
    .team__item:hover .team__details{
        opacity: 1;
    }
    .team__item:hover .team__title{
        opacity: 0;
    }
    
.team__item h3{
    font-size: 1.3rem;
}
.team__item p{
    font-size: 0.875rem;
    line-height: 28px;
}

    .team__details h3{
       color: #ff0e83;
    }
    .team__details p:first-of-type{
        margin: 8px 0;
    }
    .team__socials{
        margin-top: 24px;
    }
    .team__socials i{
        width: 37px;
        height: 37px;
        border: 1.5px solid rgba(250, 250, 250, 0.5);
        text-align: center;
        line-height: 37px;
        margin: 0 5px;
    }.team__socials i:hover{
        color: #ff0e83;
        transition: all .5s;
        border-color: #ff0e83;
    }
    /* FEEDBACK */
    .feedback{
        background-image: url(../img/cc1.jpg);
        background-size: cover;
        padding: 70px 0;
        color: #fff;
    }
    .feedback__content{
        width: 70%;
        margin: 0 auto;
        border: 3px solid #ff0e83;
        background-color: rgba(255, 255, 255, 0.37);
        text-align: center;
        color: black;
        font-size: 1.3rem;
        padding: 30px 28px;
    }

    .feedback__content i{
        color: rgb(0, 102, 255);
    }
    .feedback__content P{
        line-height: 30px;
        letter-spacing: 1.3px;
    }
    .feedback__content p:nth-of-type(2){
        color:  white;
    }
    .feedback__content .owl-theme .owl-dots .owl-dot span{
        background-color: rgba(0, 0, 0, 0.479);
    }
    .feedback__content  .owl-theme .owl-dots .owl-dot.active span{
        background-color: black;
    }
    .feedback__content .owl-theme .owl-dots .owl-dot:focus{
        outline: none;
    }
    /* CONTACT */
    .contact{
        padding: 70px 0;
    }

    .contact__form form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:15px 30px;
        width: 70%;
        margin: 0 auto;
    }
    .contact__form textarea, .contact__form button{
        grid-column: 1/3;
        /* grid-column: 1 / span 2; */
        padding: 15px;
        font-size: 1rem;
        font-weight: 600;
    }
    .contact__form input{
        padding: 15px;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 600;
        transition: all .5s;
    }
    .contact__form input:focus{
        outline: none;
        box-shadow: 0 0 0 0.2rem rgb(105, 193, 245) ;
    }
    .contact__form textarea{
        border: 1px solid black;
        border-radius: 5px;
        resize: none;
        }
        .contact__form textarea:focus{
        outline: none;
        }
        .contact__form textarea::placeholder{
            color: black;
        }
        .contact__map iframe{
            width: 100%;
            margin-top: 50px;
        }
        .contact__info{
            display: flex;
           text-align: center;
            justify-content: space-around;
            
            margin-top: 50px;
        }
        .contact__info i{
            font-size:2rem ;
            color: #4e2a84;
        }
        .contact__info p{
            font-size: 0.8rem;
            margin: 10px 0;
        }
        /* FOOTER */
        footer{
            
            padding: 50px 0;
            background-color: black;
            color: white;
        }
        .footer__main{
            width: 75%;
            margin: 0 auto;
            display: flex;
        }
        .footer__item{
            width: 25%;
            padding: 0 20px;
        }
        .footer__item h3{
            font-size: 1.3rem;
            color: #ff0e83;
            margin-bottom: 1rem;
        }
        .footer__item p{
            font-size: .8rem;
            line-height: 28px;
            padding-bottom: 1rem;
        }
        .footer__socials i{
        border: 1px solid white;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        margin-right: 10px;
        transition: all .5s;
        }
        .footer__socials i:hover{
            color: #ff0e83;
            border-color: #ff0e83;
        }
        .footer__item .footer__time{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px dotted white;
           
        }
        .footer__item   .footer__time p{
            margin: 10px 0;
            padding: 0;
        }
        .footer__sub input{
            margin-bottom: 1rem;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid gray;
        }
        .footer__sub input:focus{
            outline: none;
        }
        .footer__sub button{
            padding: 7px 16px;
            font-size: 1rem;
            color: black;
            margin-bottom: 24px;
        }
       
        .footer__copyright{
            text-align: center;
            font-size: .8rem;
            padding-top: 20px;
        }
        .footer__copyright span{
            color: #ff0e83;
            font-weight: bold;
        }
        /* BACK TO TOP */
        .backToTop{
            position: fixed;
            right: 50px;
            bottom: 50px;
            visibility: hidden;
            opacity: 0;
        }
        .backToTop i{
            width: 40px;
            height: 40px;
            line-height: 35px;
            color: rgb(45, 238, 212);
            font-size: 2rem;
            border: 2px solid rgb(45, 238, 212);
            border-radius: 50%;
            text-align: center;
        }
        .cd-top--is-visible {
            visibility: visible;
            opacity: 1;
          }
          
          .cd-top--fade-out { 
            opacity: .5;
          }








